<form method="post" action="{{ path('svc_param_delete', {'id': param.id}) }}" onsubmit="return confirm('Are you sure you want to delete this parameter?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ param.id) }}">
    <button class="btn btn-link p-0 text-danger" >Delete</button>
</form>
